
name: deploy-to-vps

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "vps-deployment"
  cancel-in-progress: false

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."38.242.129.224:30050"]
              http = true
              insecure = true

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: 38.242.129.224:30050/basvandriel-website:latest
          outputs: type=docker
          build-args: |
            ENABLE_ANALYTICS=true

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Write kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig
        shell: bash

      - name: Apply Kubernetes manifests
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          kubectl apply -f basvandriel-website-deployment.yaml
          kubectl apply -f basvandriel-website-service.yaml
          kubectl apply -f basvandriel-website-ingress.yaml
        shell: bash

      - name: Rollout restart deployment
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          kubectl rollout restart deployment/basvandriel-website
        shell: bash