name: Build and Push Docker Image

on:
  push:
    branches:
      - dockerpush
  workflow_dispatch:


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: false
          tags: 38.242.129.224:30050/basvandriel-website:latest

      - name: Push Docker image
        run: |
          docker push 38.242.129.224:30050/basvandriel-website:latest
